<footer>
    <nav class="navbar bg-secondary sticky-bottom" data-bs-theme="dark" style="min-height: 10vh;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><%= constants.APP_NAME %></a>
            <span class="navbar-text">
                Copyright &copy; 2025 <%= constants.COPYRIGHT_HOLDER %>. All rights reserved.
            </span>
        </div>
    </nav>
</footer>
