<header>
    <nav class="navbar bg-primary sticky-top" data-bs-theme="dark" style="min-height: 10vh;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><%= constants.APP_NAME %></a>
        </div>
    </nav>
</header>
