*.DS_Store

# JetBrains IDEs
.idea/

# Node.js and npm
node_modules/

# Environment Variables
.env
.env.keys

# Certificates
*.crt

# MySQL
users.mysql.sql

# compiling, bundling, testing, and coverage output
dist/
